@import url("https://fonts.google.com/specimen/Kumbh+Sans");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    no-repeat;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.images {
  z-index: 1;
  position: absolute;
  top: 0px;
}

#img-shadow {
  margin-top: -80px;
}

section {
  height: 80vh;
  width: 350px;
  background-color: #f4f4f4;
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 110px;
}

h1 {
  text-align: center;
  padding-top: 120px;
  font-size: 40px;
  font-weight: bold;
}

.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(240, 6%, 50%);
  margin: 0px 24px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-section .faq-item,
.faq-section .fav-icon {
  padding: 10px 0px;
}

.answer {
  display: none;
}

.faq-section.active .answer {
  display: block;
  font-weight: light;
}

.faq-section.active .question {
  color: hsl(237, 12%, 33%);
  font-weight: bold;
}

.faq-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in;
}

.faq-section.active .faq-icon {
  transform: rotate(180deg);
}

.faq-section.active img {
  transform: translateY(20px);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 480px) {
}
